<header>
    <h1>Turnies</h1>
    <div class="flex">
      <h2>Events</h2>
      {{#if tenant_name}}
      <div class="align-right">
        <p class="icon icon--inline icon--account">{{tenant_name}}</p>
        {{> logout }}
      </div>
      {{/if}}
    </div>
</header>
<div class="wrapper">
    <main>
      <section class="box">
        <h2>Create new event</h2>
        <form method="POST" action="/api/events">
          <label>Event name:</label>
          <input name="name">
          <div class="submit">
              <button>Submit</button>
          </div>
          <p class="error"></p>
        </form>
      </section>
      <section class="box">
        <h2>Select event</h2>
        <form class="mg-top loading">
          <select id="events_dropdown">
            <option selected option="">Select Event</option>
          </select>
        </form>
        <p>Selecting an event will load tournaments data for that event.</p>
      </section>
    </main>
</div>
