<header>
    <div class="flex">
        {{#if event_name}}
          <h3>{{event_name}}</h3>
        {{else}}
          <h3>turnies.de</h3>
        {{/if}}
        <h2>Home</h2>
        <div class="align-right">
          {{#if isLoggedIn}}
            <p class="icon icon--inline icon--account">{{tenant_name}}</p>
          {{/if}}
        </div>
    </div>
</header>
<div class="wrapper">
    <main>
      {{#if isLoggedIn}}
        {{> logout }}
      {{/if}}
      <p>Turnies app allows you to create and manage poker tournaments and share results with others.</p>
      <section class="box">
        <p>If you are here to see your tournament results, simply select your event from the list below.</p>
        <form class="mg-top loading">
          <select id="events_dropdown">
            <option selected option="">Select Event</option>
          </select>
        </form>
      </section>

      {{#if isLoggedIn}}
        <section class="box">
          <h2>Create new event</h2>
          <form method="POST" action="/api/events">
            <label>Event name:</label>
            <input name="name">
            <div class="submit">
                <button>Submit</button>
            </div>
            <p class="error"></p>
          </form>
        </section>
      {{else}}
        <section class="box">
          <p>Login to edit your exiting events or create new ones. If you don't have an account, <a href="/register">Register</a> first.</p>
          <form class="form" id="login" method="POST" action="/api/login">
            <p><label>Username: <input required autocomplete="username" name="username"></label></p>
            <p><label>Password: <input autocomplete="current-password" id="password" required name="password" type="password"></label>
              <a href="javascript:void(0);" class="no-ajax icon icon--inline icon--show" title="Show password" id="togglePassword"></a>
            </p>
            <div class="submit">
              <button>Login</button>
            </div>
            <p class="error"></p>
          </form>
        </section>
      {{/if}}
    </main>
</div>
{{#if event_id}}
  {{> footer event_id=event_id season_id=season_id view="home"}}
{{/if}}

