<header>
    <div class="flex">
        {{#if event_name}}
          <h3><span class="label">League</span>{{event_name}}</h3>
        {{else}}
          <h3>turnies.de</h3>
        {{/if}}
        <h2>Home</h2>
        <div class="align-right">
          {{#if isLoggedIn}}
            <p class="icon icon--inline icon--account">{{tenant_name}}</p>
          {{/if}}
        </div>
    </div>
</header>
<div class="wrapper">
    <main class="home">
      <h1>The turnies app tracks poker tournament results so bragging rights are earned, not argued!</h1>
      <section class="league-selector">
        <form class="mg-top loading">
          <label>Select your league</label>
          <select id="events_dropdown">
            <option value="">Select</option>
          </select>
        </form>
      </section>
      {{#if isLoggedIn}}
        <section class="league-selector">
          <h2>Create a new league</h2>
          <form method="POST" action="/api/events">
            <label>League name:</label>
            <input name="name">
            <div class="submit">
                <button>Submit</button>
            </div>
            <p class="error"></p>
          </form>
        </section>
        {{> logout }}
      {{else}}
        <p>To update your league's results you need to <a href="/login">login</a> first.</p>
        <p>If you wish to create a new league so that you can keep track of your poker tournaments you should <a href="/register">register</a> first.</p>
      {{/if}}
    </main>
</div>
{{#if event_id}}
  {{> footer event_id=event_id season_id=season_id view="home"}}
{{/if}}

