
<header>
  <h1>Login</h1>
</header>
<div class="wrapper">
    <main>
      <form class="form-ajax" id="login" data-redirect="/admin/home" method="POST" action="/api/login">
          <p><label>Username: <input required name="username"></label></p>
          <p><label>Password: <input id="password" required name="password" type="password"></label>
            <a href="javascript:void(0);" class="no-ajax icon icon--inline icon--show" title="Show password" id="togglePassword"></a>
          </p>
          <div class="submit">
            <button>Login</button>
          </div>
          <p class="error"></p>
      </form>
      <p>If you don't have an account, <a href="/register">create an account</a> first.</p>
    </main>
</div>
