
<header>
  <h1>Login</h1>
</header>
<div class="wrapper">
    <main>
      <form id="login" data-redirect="/events" method="POST" action="/api/login">
          <p><label>Username: <input required autocomplete="username" name="username"></label></p>
          <p><label>Password: <input autocomplete="current-password" id="password" required name="password" type="password"></label>
            <a href="javascript:void(0);" class="no-ajax icon icon--inline icon--show" title="Show password" id="togglePassword"></a>
          </p>
          <div class="submit">
            <button>Login</button>
          </div>
          <p class="error"></p>
      </form>
      <p>Alternatively you can see your game results by selecting your <a href="/tenant">tournament organizer</a> or <a href="/register">register</a> to start organizing your own tournaments.</p>
    </main>
</div>
