
<header>
  <div class="flex">
    <h3>turnies.de</h3>
    <h2>Register</h2>
    <div></div>
  </div>
</header>
<div class="wrapper">
    <main>
      <form id="register" data-redirect="/login" method="POST" action="/api/register">
          <p><label>Username: <input required name="username"></label></p>
          <p><label>Password: <input id="password" required name="password" type="password"></label>
            <a href="javascript:void(0);" class="no-ajax icon icon--inline icon--show" title="Show password" id="togglePassword"></a>
          </p>
          <div class="submit">
            <button>Register</button>
          </div>
          <p class="error"></p>
      </form>
      <p>If you already have an accout <a href="/login">login</a>.</p>
    </main>
</div>

