
<header>
  <h1>Register</h1>
</header>
<div class="wrapper">
    <form class="form-ajax" id="register" data-redirect="/login" method="POST" action="/api/register">
        <p><label>Username: <input required name="username"></label></p>
        <p><label>Password: <input id="password" required name="password" type="password"></label>
          <button type="button" id="togglePassword">Toggle</button>
        </p>
        <div class="submit">
          <button>Register</button>
        </div>
        <p class="error"></p>
    </form>
    <p>If you already have an account, <a href="/login">login</a>.</p>
</div>

