<header>
  <h1>Tournament Organizer</h1>
</header>
<div class="wrapper">
    <main>
      <p>Select your tournament organizer to see your latest game results:</p>
      <form class="mg-top loading">
        <select id="tenant_dropdown">
          <option selected option="">Select Organizer</option>
        </select>
      </form>
      <p>Alternatively you can <a href="/login">login</a> or <a href="/register">register</a> to start organizing your own tournaments.</p>
    </main>
</div>
