.admin h1 {
    margin-left: 0;
}

form {
  padding: 10px;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.75);
  margin: 1em;

  .error {
    display: none;
  }

  &.error {
    .error {
      display: block;
      color: red;
    }
  }

  div.row {
    margin: 1em 0;
    display: flex;

    label:first-child {
      display: inline-block;
      width: 130px;
    }
  }

  #players div.row {
    display:block;

    label {
      display: inline-block;
      width: 130px;
    }
  }

  input,
  select {
    box-sizing: border-box;
    font-size: inherit;
  }
}

.admin__nav {
  list-style: none;
  margin: 1em;

  li {
    margin: 0 0 0.5em 0;
  }

  li a.active {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
}
