.admin h1 {
    margin-left: 0;
}

form {
  padding: 10px;
  font-size: 16px;

  .error {
    display: none;
  }

  &.error {
    .error {
      display: block;
      color: red;
    }
  }

  div {
    margin: 1em 0;
  }

  label {
    min-width: 130px;
    display: inline-block;
  }

  input,
  select {
    min-width: 180px;
    box-sizing: border-box;
    font-size: inherit;
  }
}
