.admin {
  h1 {
    margin-left: 0;
  }
}

form {
  font-size: 16px;
  margin: 1em  0;

  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }

  .error {
    display: none;
  }

  &.error {
    .error {
      display: block;
      color: red;
    }
  }

  div.row:not([hidden]) {
    margin: 0 0 0.75em;
    display: flex;
    gap: 1em;

    > *:first-child {
      display: inline-block;
      min-width: 130px;
    }
  }

  #players {
    margin-bottom: 2em;
  }

  div.row--mt2 {
    margin-top: 2em;
  }

  .row-player {
    margin: 0.5em 0;
    padding-top: 0.5em;
    border-top: dotted #333 1px;

    &.disabled {
      .row .col2 {
        display: none !important;
      }
    }

    .row {
      margin-top: 0;
      margin-bottom: 0.25em;
    }
  }

  #players div.row {
    display: flex;
    flex-direction: column;
    gap: 0.25em;

    .col1 {
      display: flex;
      align-items: center;
      gap: 0.5em;

      button {
        order: 1;

        &[disabled] {
          display: none;
        }
      }

      label {
        order: 2;
        font-size: 20px;
      }
    }

    .col2 {
      display: flex;
      gap: 1em;
    }

    .col2 > div {
      *:first-child {
        min-width: 60px;
      }

      input {
        width: 50px;
        margin-left: 0.25em;
      }
    }
  }

  input,
  select,
  button {
    box-sizing: border-box;
    font-size: inherit;
  }

  .submit button[disabled] {
    opacity: 0.5;
  }

}

form + p {
  margin: 1em 0;
}

.admin__nav {
  list-style: none;
  font-size: 18px;
  margin: 1em 0;
  padding: 0;

  li {
    margin: 0 0 1em 0;

    a {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }

  li a.active {
    text-decoration: none;
    color: #333;
    font-weight: 700;
  }
}

.wrapper-status {
  label {
    line-height: 1.5;
  }
}

.submit {
  margin: 1em 0;

  button {
    border: solid 1px #78632a;
    padding: 0.5em;
    background:
    radial-gradient(ellipse farthest-corner at left top, #FFFFAC 0%, #D1B464 100%);
  }
}
