footer {
    margin: 0;
    background: white;
    border-top: solid 1px #ccc;
    font-size: 14px;
    background:
    radial-gradient(ellipse farthest-corner at left top, #FFFFAC 0%, #D1B464 100%);
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

footer p {
    margin: 0.5rem 1rem;
    font-size: 14px;
}

footer a {
    color: #666;
    text-decoration: none;
}

footer li a {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 32px;
    padding-top: 32px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
}

footer li a.active {
    filter: invert(10%) sepia(76%) saturate(500%) hue-rotate(72deg) brightness(85%) contrast(104%);
}

footer li.ranking a {
    background-image: url(../images/ranking.svg);
}

footer li.games a {
    background-image: url(../images/chip.svg);
}

footer li.admin a {
    background-image: url(../images/admin.svg);
}

footer:first-child {
    margin-top: 0;
}
