header {
    padding: 1em;
    background: #fad673;

    h1 {
        font-size: 1.4rem;
        margin: 0;
        text-align: center;

        span {
            font-size: 1em;
            font-weight: normal;
        }
    }

    h2, h3 {
        margin: 0;
        text-align: left;
    }

    div .label,
    h3 .label {
        display: block;
        margin: 0;
        padding: 0;
        font-size: 0.8em;
        opacity: 0.7;
        margin-top: -0.5em;
    }

    .flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 0;

        > * {
            width: 33%;
        }

        h2 {
            text-align: center;
        }

        > *:last-child {
            text-align: right;
        }
    }

    .pending {
        background: #1d5410;
    }

    .align-right {
        text-align: right;
    }

    form {
        margin: 0;
        display: inline-block;
    }

    .icon--account {
        display: inline-block;
    }

    p {
        text-align: left;
        margin: 0;
    }
}

