header {
    padding: 1em;
    background:
    radial-gradient(ellipse farthest-corner at left top, #FFFFAC 0%, #D1B464 100%);

    h1 {
        font-size: 1.4rem;
        margin: 0;
        text-align: center;

        span {
            font-size: 1em;
            font-weight: normal;
        }
    }

    .flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 0;
        margin-top: 0.5em;
    }

    .pending {
        background: #1d5410;
    }

    .align-right {
        text-align: right;
    }

    form {
        margin: 0;
        display: inline-block;
    }

    .icon--account {
        display: inline-block;
    }

    p {
        text-align: left;
        margin: 0;
    }
}

