header {
    padding: 1em;
    background: #fad673;
    /* background: linear-gradient(180deg, #D1B464 0%, #FFFFAC 100%); */

    h1 {
        font-size: 1.4rem;
        margin: 0;
        text-align: center;

        span {
            font-size: 1em;
            font-weight: normal;
        }
    }

    h2, h3 {
        margin: 0;
    }

    .flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 0;
    }

    .pending {
        background: #1d5410;
    }

    .align-right {
        text-align: right;
    }

    form {
        margin: 0;
        display: inline-block;
    }

    .icon--account {
        display: inline-block;
    }

    p {
        text-align: left;
        margin: 0;
    }
}

