.home h1 {
    font-weight: 500;
    font-size: 1.3em;
    text-align: center;
    max-width: 40ch;
    line-height: 1.4;
    margin: 1em auto;
    text-wrap: balance;
}

.home form {
    display: inline-block;
}

.home .league-selector {
    padding: 1em;
    background: #FAD673;
    text-align: center;
    margin: 1em 0;
}
