a.icon {
    color: #666;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 32px;
    padding-top: 32px;
    min-width: 32px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
}

a.icon:hover {
    filter: invert(9%) sepia(97%) saturate(7423%) hue-rotate(85deg) brightness(89%) contrast(87%);
}

.icon--logout {
    background-image: url(../images/logout.svg);
}

.icon--ranking {
    background-image: url(../images/ranking.svg);
}

.icon--games {
    background-image: url(../images/chip.svg);
}

.icon--admin {
    background-image: url(../images/admin.svg);
}
