html, body {
    height: 100%;
    margin: 0;
    background-color: #f4efc0;
}

#results {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#results > .wrapper {
    overflow-y: auto;
    flex-grow: 1;
    overscroll-behavior: contain;
}

main {
    padding: 0 1em;

    .back-link {
        margin-bottom: 1em;

        a {
            /* color: #1d5410; */
            filter: invert(9%) sepia(97%) saturate(7423%) hue-rotate(85deg) brightness(89%) contrast(87%);
            padding-left: 25px;
        }
    }
}
