html, body {
    height: 100%;
    margin: 0;
}

#results {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#results > .wrapper {
    overflow-y: auto;
    flex-grow: 1;
    background-color: #f4efc0;
}

header, footer {
    flex-grow: 0;
}
