<header>
  <h1>Add Tournament</h1>
  <a class="no-ajax" href="/api/logout">Logout</a>
</header>
<div class="wrapper">
    <main class="admin">
        {{> adminNav id="add-tournament"}}
        <section>
            <form class="form-ajax" id="post-tournament" data-redirect="/tournaments" method="POST" action="/api/tournament">
                <fieldset id="tournament-fieldset">
                    {{> tournamentForm round="1" buyin="10" status="upcoming" }}
                </fieldset>
            </form>
        </section>
    </main>
</div>
<footer>
  {{> footer season_id=season_id view="admin"}}
</footer>
