{{> adminHeader league_name=league_name tenant_name=tenant_name}}
<div class="wrapper">
    <main class="admin">
        {{> backLink }}
        <section>
            <h2>Add/Edit player</h2>
            <form method="POST" action="/api/players">
                <input type="hidden" name="league_id" value="{{league_id}}">
                <div class="row">
                    <label>Players</label>
                    <select id="player_edit_dropdown" name="player_id">
                       <option selected disabled option="">Select</option>
                    </select>
                </div>
                <div class="row">
                    <label>New name *</label>
                    <input required name="name">
                </div>
                <div class="submit">
                    <button>Submit</button>
                </div>
                <p class="error"></p>
            </form>
        </section>
    </main>
</div>
{{> footer league_id=league_id season_id=season_id view="admin"}}
