{{> adminHeader event_name=event_name tenant_name=tenant_name}}
<div class="wrapper">
    <main class="admin">
        {{> backLink }}
        <section>
            <h2>Add new tournament</h2>
            <form class="form--add-tournament" id="post-tournament" data-redirect="/admin/edit-tournament" method="POST" action="/api/tournament">
                <input type="hidden" name="event_id" value="{{event_id}}">
                <fieldset id="tournament-fieldset">
                    {{> tournamentForm buyin="10" status="upcoming" seasons="seasons" players="players" event_id=event_id }}
                </fieldset>
            </form>
        </section>
    </main>
</div>
{{> footer event_id=event_id season_id=season_id view="admin"}}
