{{> adminHeader event_name=event_name tenant_name=tenant_name}}
<div class="wrapper">
    <main class="admin">
        <p><a data-animation="slideInLTR" class="icon icon--inline icon--back" href="/admin/home?event_id={{event_id}}">Back</a></p>
        <section>
            <h2>Add new player</h2>
            <form class="form-ajax" method="POST" action="/api/players">
                <input type="hidden" name="event_id" value="{{event_id}}">
                <div class="row">
                    <label>Player *</label>
                    <input required name="name">
                </div>
                <div class="submit">
                    <button>Submit</button>
                </div>
                <p class="error"></p>
            </form>
        </section>
    </main>
</div>
{{> footer event_id=event_id season_id=season_id view="admin"}}
