{{> adminHeader league_name=league_name tenant_name=tenant_name}}
<div class="wrapper">
    <main class="admin">
        {{> backLink }}
        <section>
            <h2>Add new tournament</h2>
            <form class="form--add-tournament" id="post-tournament" data-redirect="/admin/edit-tournament" method="POST" action="/api/tournament">
                <input type="hidden" name="league_id" value="{{league_id}}">
                <fieldset id="tournament-fieldset">
                    {{> tournamentForm buyin="10" status="upcoming" league_id=league_id }}
                </fieldset>
            </form>
        </section>
    </main>
</div>
{{> footer league_id=league_id season_id=season_id view="admin"}}
