<header>
  <h1>Admin</h1>
  {{> logout }}
</header>
<div class="wrapper">
    <main class="admin">
        <p><a class="icon icon--inline icon--back" href="/admin/home?tenant_id={{tenant_id}}">Back</a></p>
        <section>
            <h2>Add new season</h2>
            <form class="form-ajax" method="POST" action="/api/seasons">
                <input type="hidden" name="tenant_id" value="{{tenant_id}}">
                <div class="row">
                    <label>Season *</label>
                    <input required name="name">
                </div>
                 <div class="submit">
                    <button>Submit</button>
                 </div>
                <p class="error"></p>
            </form>
        </section>
    </main>
</div>
{{> footer tenant_id=tenant_id season_id=season_id view="admin"}}
