
<header>
  <h1>Admin > Players</h1>
  <a class="no-ajax" href="/api/logout">Logout</a>
</header>
<div class="wrapper">
    <main class="admin">
        {{> adminNav }}
        <section>
            <form class="form-ajax" method="DELETE" action="/api/players">
                <h1>Delete Player</h1>
                <p>Only palyers who have never played in a tournament can be deleted.</p>
                <div>
                    <label>Players</label>
                    <select id="player_delete_dropdown" name="player_id">
                        <option value="">Select player</option>
                    </select>
                </div>
                <div class="submit">
                    <button>Submit</button>
                </div>
            </form>
        </section>
    </main>
</div>
<footer>
  {{> footer season_id=season_id view="admin"}}
</footer>
