{{> adminHeader league_name=league_name tenant_name=tenant_name}}
<div class="wrapper">
    <main class="admin">
        {{> backLink }}
        <section>
            <h2>Delete players</h2>
            <form method="POST" action="/api/players">
                <p>Only players who have never played in a tournament can be deleted.</p>
                <input type="hidden" name="league_id" value="{{league_id}}">
                <input type="hidden" name="form_action" value="delete">
                <div class="row">
                    <label>Players</label>
                    <select id="player_delete_dropdown" name="player_id">
                        <option value="">Select player</option>
                    </select>
                </div>
                <div class="submit">
                    <button>Delete player</button>
                </div>
                <p class="error"></p>
            </form>
        </section>
    </main>
</div>
{{> footer league_id=league_id season_id=season_id view="admin"}}
