{{> adminHeader league_name=league_name tenant_name=tenant_name}}
<div class="wrapper">
    <main class="admin">
        {{> backLink }}
        <section>
            <h2>Delete timer</h2>
            <form method="POST" action="/api/timers">
                <input type="hidden" name="form_action" value="delete">
                <div class="row">
                    <label>Timer:</label>
                    <select id="timer_delete_dropdown" name="timer_id"></select>
                </div>
                <div class="submit">
                    <button>Delete timer</button>
                </div>
                <p class="error"></p>
            </form>
        </section>
    </main>
</div>
{{> footer league_id=league_id season_id=season_id view="admin"}}
