{{> adminHeader league_name=league_name tenant_name=tenant_name}}
<div class="wrapper">
    <main class="admin">
        {{> backLink }}
        <section>
            <h2>Delete tournament</h2>
            <form id="post-tournament" method="POST" action="/api/tournament">
                <input type="hidden" name="league_id" value="{{league_id}}">
                <input type="hidden" name="form_action" value="delete">
                <div class="row">
                    <label>Select tournament:</label>
                    <select id="tournament_duplicate_dropdown" name="tournament_id">
                    </select>
                </div>
                <div class="submit">
                    <button>Delete Tournament</button>
                </div>
                <p class="error"></p>
            </form>
        </section>
    </main>
</div>
{{> footer league_id=league_id season_id=season_id view="admin"}}
