<header>
  <h1>Edit Tournament</h1>
  {{> logout }}
</header>
<div class="wrapper">
    <main class="admin">
        {{> adminNav id="edit-tournament"}}
        <section>
            <form class="form-ajax" id="post-tournament" method="POST" action="/api/tournament">
                <div class="row">
                    <label>Select tournament:</label>
                    <select id="tournament_edit_dropdown" name="tournament_id">
                    </select>
                </div>
                <fieldset id="tournament-fieldset"></fieldset>
            </form>
        </section>
    </main>
</div>
{{> footer season_id=season_id view="admin"}}
