
<header>
  <h1>Admin ({{tenant_name}})</h1>
  {{> logout }}
</header>
<div class="wrapper">
    <main class="admin">
      {{> adminNav tenant_id=tenant_id }}
    </main>
</div>
{{> footer tenant_id=tenant_id season_id=season_id view="admin"}}
