{{> adminHeader event_name=event_name tenant_name=tenant_name}}
<div class="wrapper">
    <main class="admin">
      {{> adminNav event_id=event_id season_id=season_id}}
    </main>
</div>
{{> footer event_id=event_id season_id=season_id view="admin"}}
