
<header>
  <h1>Admin</h1>
  <a class="no-ajax" href="/api/logout">Logout</a>
</header>
<div class="wrapper">
    <main class="admin">
      {{> adminNav }}
    </main>
</div>
<footer>
  {{> footer season_id=season_id view="admin"}}
</footer>
