<ul>
    <li><a href="/admin/add-tournament">Add new tournament</a></li>
    <li><a href="/admin/add-season">Add new season</a></li>
    <li><a href="/admin/edit-season">Edit season</a></li>
    <li><a href="/admin/add-player">Add new player</a></li>
    <li><a href="/admin/edit-player">Edit player</a></li>
    <!--
        <li><a href="/admin/delete-player">Delete player</a></li>
    -->
</ul>
