<p class="back-link"><a
    data-animation="slideInLTR"
    class="icon icon--inline icon--back"
    href="/admin/home?league_id={{league_id}}{{#if season_id}}&season_id={{season_id}}{{/if}}">Back</a></p>
