<form method="POST" action="/api/logout" id="logout" data-redirect="/home">
    <button>Sign out</button>
</form>

{{!-- <a class="icon icon--inline icon--logout" href="/api/logout" title="Logout">Sign out</a> --}}
