<span id="season-selector">
  <select id="select-season">
      {{#each seasons}}
          <option
            {{#ifEquals this._id ../season_id }}selected="selected"{{/ifEquals}}
            {{#unless season_id}}
              {{#ifEquals 0 @index}}selected="selected"{{/ifEquals}}
            {{/unless}}
            value="{{this._id}}">{{this.name}}</option>
      {{/each}}
  </select>
</span>
