<div class="row">
    <label>Date: *</label>
    <input required name="date" type="date" value="{{date}}"/>
</div>
<div class="row">
    <label>Buyin: *</label>
    <input required name="buyin" type="number" value="{{buyin}}"/>
</div>
<div class="row">
    <label>Season:</label>
    <select id="season_dropdown" name="season_id">
    </select>
</div>
<div class="row row--status">
    <label>Status: *</label>
    <div class="wrapper-status">
        <div>
            <input required {{#ifCond status '==' 'upcoming'}} checked {{/ifCond}} name="status" id="upcoming" type="radio" value="upcoming">
            <label for="upcoming">Upcoming</label>
        </div>
        <div>
            <input required {{#ifCond status '==' 'pending'}} checked {{/ifCond}} name="status" id="pending" type="radio" value="pending">
            <label for="pending">Live</label>
        </div>
        <div>
            <input required {{#ifCond status '==' 'done'}} checked {{/ifCond}} name="status" id="done" type="radio" value="done">
            <label  for="done">Completed</label>
        </div>
    </div>
</div>

{{!-- <div class="row">
    <label>Round *</label>
    <select required name="round">
        <option {{#ifCond round '==' 1}}selected{{/ifCond}} value="1">1</option>
        <option {{#ifCond round '==' 2}}selected{{/ifCond}} value="2">2</option>
        <option {{#ifCond round '==' 3}}selected{{/ifCond}} value="3">3</option>
        <option {{#ifCond round '==' 4}}selected{{/ifCond}} value="4">4</option>
        <option {{#ifCond round '==' 5}}selected{{/ifCond}} value="5">5</option>
        <option {{#ifCond round '==' 6}}selected{{/ifCond}} value="6">6</option>
        <option {{#ifCond round '==' 7}}selected{{/ifCond}} value="7">7</option>
        <option {{#ifCond round '==' 8}}selected{{/ifCond}} value="8">8</option>
        <option {{#ifCond round '==' 9}}selected{{/ifCond}} value="9">9</option>
        <option {{#ifCond round '==' 10}}selected{{/ifCond}} value="10">10</option>
    </select>
</div>
<fieldset id="bounty-fields">
    <div class="row">
        <label>Has bounty?</label>
        <div>
            <label>
                <input type="radio" checked name="bounty" value="no">
                No
            </label>
            <label>
                <input type="radio" name="bounty" value="yes">
                Yes
            </label>
        </div>
    </div>
    <div class="row" hidden>
        <label>Bounty Winner</label>
        <input name="bounty_winner">
    </div>
    <div class="row" hidden>
        <label>Bounty Prize</label>
        <input name="bountry_prize" type="number">
    </div>
</fieldset> --}}

<div class="row row--addPlayers row--mt2">
    <label>Add players <span id="players-count"></span></label>
    <div>
        <select id="player_dropdown">
            <option selected disabled option="">Select</option>
        </select>
    </div>
</div>

<!-- showing useful tournament data -->
{{#ifCond status '!=' 'upcoming'}}
    <div class="row">
        <label>Total rebuys:</label>
        <span>{{rebuys}}</span>
    </div>
    <div class="row">
        <label>Total prize:</label>
        <span>{{totalPrize}}</span>
    </div>
{{/ifCond}}

<table class="table-players">
    <thead>
        <tr>
            <th>Player</th>
            <th>Ranking</th>
            <th>Rebuys</th>
            <th>Prize</th>
        </tr>
    </thead>
    <tbody id="players">
        <!-- added via js -->
    </tbody>
</table>

<div class="submit">
    <button>Save Tournament</button>
</div>
<p class="error"></p>
